Repository LionPlace/JS-LionPlace, pull requests merged in 2023-08, with the labels that each got.

#37 로그인, 회원가입, 첫 페이지 html, tailwind 작성 / 로그인 js 작성 완료 / 회원가입 수정 필요한 js 일부
  .eslintrc.json
  client/assets/bacon/detail_banner.jpg
  client/assets/bacon/detail_info.jpg
  client/assets/bacon/detail_view.jpg
  client/assets/bacon/thumbnail.jpg
  client/assets/jukkumi/detail_banner.jpg
  client/assets/jukkumi/detail_info.jpg
  client/assets/jukkumi/detail_view.jpg
  client/assets/jukkumi/thumbnail.jpg
  client/assets/kangnam/detail_banner.jpg
  client/assets/kangnam/detail_info.jpg
  client/assets/kangnam/detail_view.jpg
  client/assets/kangnam/thumbnail.jpg
  client/assets/login/lion-place.png
  client/assets/tangtang/detail_banner.jpg
  client/assets/tangtang/detail_info.jpg
  client/assets/tangtang/detail_view.jpg
  client/assets/tangtang/thumbnail.jpg
  client/assets/ubuho/detail_banner.jpg
  client/assets/ubuho/detail_info.jpg
  client/assets/ubuho/detail_view.jpg
  client/assets/ubuho/thumbnail.jpg
  client/css/main.css
  client/css/tailwind.css
  client/js/login/login.js
  client/js/login/register.js
  client/lib/dom/index.js
  client/login.html
  client/views/register.html
  client/views/start.html
  server/db/data.json
Labels: Javascript, ➕ add

#38 themeEnroll 1, 2페이지 html, tailwind 작성 / 지도 API, 랜더링 JS 작성 완료 / JS 1차 리팩토링 완료
  .eslintrc.json
  .vscode/settings.json
  client/assets/map/ImagefieldFeed.png
  client/assets/map/receipt_bottom.png
  client/assets/map/reviewPost.png
  client/assets/map/userProfile.png
  client/assets/map/영수증밑단.png
  client/css/main.css
  client/css/tailwind.css
  client/index.html
  client/js/map/map copy.js
  client/js/map/map.js
  client/lib/dom/css.js
  client/lib/dom/getNode.js
  client/lib/utils/tiger.js
  client/views/themeEnroll1.html
  client/views/themeEnroll2.html
  server/db/data copy.json
  server/db/data.json
  tailwind.config.js
Labels: Javascript, HTML, ➕ add, 🛠️ refactor, tailwind, 🕹️ feature, 📀 data

#47 브랜치 병합 및 회원가입 페이지 js 작성 완료
  client/css/main.css
  client/css/tailwind.css
  client/js/login/login.js
  client/js/login/register.js
  client/login.html
  client/views/login.html
  client/views/register.html
  client/views/start.html
  server/db/data.json
Labels: Javascript, ➕ add, 🛠️ refactor, 📀 data
